.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    margin-top: 30px;
    background-color: rgb(5, 117, 55);
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.507);
    font-family: 'Arial', sans-serif;
}
.main {
    max-width: 100%;
    padding-left: 4vh;
    padding-right: 4vh;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.movie-card {
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: left;
}

.movie-year-genre {
    color: rgb(141, 141, 141);
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-image img {
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.641);
    pointer-events: none;
    border-radius: 10px;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.searchText {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    margin-left: 0; 
    width: 60%; 
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.search {
    border-radius: 10px;
    width: 60%;
    height: 7vh;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}

.movie-details {
    padding: 20px;
}

.movie-details p {
    margin: 5px 0;
    color: #555;
}

body {
    background-color: #1b1b2b;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.502), rgb(0, 0, 0), rgb(0, 0, 0)), url(https://cdn.pixabay.com/photo/2024/10/08/02/15/ai-generated-9104182_1280.jpg);
    background-repeat: no-repeat;
    /* background-position: 10vh 10vh; */
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    display: flex;
    color: rgb(255, 255, 255);
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-left: 2vh;
}

div {
    color: whitesmoke;
}

.schedule {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}



